# Discord
DISCORD_APPLICATION_ID=
DISCORD_CHANNEL_ID=
DISCORD_BOT_TOKEN=

# Figma
FIGMA_TOKEN=
FIGMA_CONTEXT_TYPE=file
FIGMA_CONTEXT_ID=
FIGMA_WEBHOOK_PASSCODE=

# n8n / endpoint usado pelo Figma
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_PORT=5678
N8N_ENCRYPTION_KEY=
WEBHOOK_URL=http://localhost:5678/
FIGMA_WEBHOOK_ENDPOINT=http://localhost:5678/webhook/figma-ready-for-dev

# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=
